body {
    margin: 0;
    padding: 0;
    font-family: 'Girassol', sans-serif;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100vh;
}


@keyframes moveToHome {
    0% {
        top: 45px;
        left: 118px;
    }

    25% {
        top: 118px;
        left: 118px;
    }

    50% {
        top: 118px;
        left: 65px;
    }


    100% {
        top: 90px;
        left: 65px;
    }
}

@keyframes moveToCommunity {
    0% {
        top: 45px;
        left: 118px;
    }

    25% {
        top: 118px;
        left: 118px;
    }

    50% {
        top: 118px;
        left: 168px;
    }


    100% {
        top: 88px;
        left: 166px;
    }
}

@keyframes moveToDrives {
    0% {
        top: 45px;
        left: 118px;
    }

    25% {
        top: 118px;
        left: 118px;
    }

    50% {
        top: 118px;
        left: 168px;
    }

    100% {
        top: 155px;
        left: 168px;
    }
}

@keyframes moveToNews {
    0% {
        top: 45px;
        left: 118px;
    }

    25% {
        top: 118px;
        left: 118px;
    }

    50% {
        top: 118px;
        left: 66px;
    }

    100% {
        top: 136px;
        left: 66px;
    }
}

@keyframes moveToProfile {
    0% {
        top: 45px;
        left: 118px;
    }

    50% {
        top: 118px;
        left: 118px;
    }


    100% {
        top: 185px;
        left: 118px;
    }
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/EC_(1).jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.95;
    z-index: -1;
}

/* Carousel styling */
.carousel {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    overflow: hidden;
}

.carousel-track-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

/* .carousel-slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 200px;
    color: white;
    font-family: 'Girassol', sans-serif;
    text-shadow: 2px 2px 5px black;
} */

/* Add images for slides */
/* .slide-1 {
    background-image: url('Images/R34.jpeg');
}

.slide-2 {
    background-image: url('Images/Rolls-Royce-Phantom.jpeg');
}

.slide-3 {
    background-image: url('Images/HummerEv-2024.jpeg');
}

.slide-4 {
    background-image: url('Images/Ford-Ranger-Raptor-2024.webp');
}

.slide-5 {
    background-image: url('Images/volkswagen-golf.webp');
}

.slide-6 {
    background-image: url('Images/Maserati-Granturismo-Folgore.jpeg');
} */

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.7);
    color: #000000;
    border: none;
    padding: 2px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 2rem;
}

.carousel-button-left {
    left: 30%;
}

.carousel-button-right {
    right: 27%;
}

/* .carousel-item {
    color: #ffffff;
    font-size: 2.5rem;
    border: #000000;
    text-decoration: none;
} */

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    height: auto;
    color: white;
    font-family: 'Girassol', sans-serif;
    flex: 0 0 100%;
    height: 300px;
    text-shadow: 2px 2px 5px black;
}

.slide-image {
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.slide-1 .slide-image {
    background-image: url('Images/EC-Sports.png');
}

.slide-2 .slide-image {
    background-image: url('Images/EC-Luxury.png');
}

.slide-3 .slide-image {
    background-image: url('Images/EC-SUV.png');
}

.slide-4 .slide-image {
    background-image: url('Images/EC-Truck(1).png');
}

.slide-5 .slide-image {
    background-image: url('Images/EC-Affordable(1).png');
}

.slide-6 .slide-image {
    background-image: url('Images/EC-Electric.png');
}

.carousel-item {
    margin-top: 10px;
    color: #ffffff;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    transition: font-size 0.3s ease-in-out;
}

.carousel-slide:hover .carousel-item {
    font-size: 3.5rem;
    transition: font-size 0.3s ease-in-out;
}